apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: {{ .Values.namespace }}
  labels:
    app: kafka
spec:
  type: ClusterIP
  ports:
  - name: kafka
    port: {{ .Values.kafka.port }}
    targetPort: {{ .Values.kafka.port }}
  selector:
    app: kafka

