apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.name }}-config
data:
  application.properties: |
    #Oracle Datasource properties
    oracle.driver=oracle.jdbc.OracleDriver
    oracle.url=jdbc:oracle:thin:@{{ .Values.db.ORACLE_HOST }}:{{ .Values.db.ORACLE_PORT }}/{{ .Values.db.NMS_DB_NAME }}
    # sertos (auth,auth) , orco (authentication,authentication)
    oracle.username=${DB_USER}
    oracle.password=${DB_PASS}
    #DB Address
    dbAddress={{ .Values.db.ORACLE_HOST }}
    #Authentication type
    authType=DB
    #authType=PAM
    #authType=RADIUS
    # pam config (REMOTE or LOCAL)
    pamConfig=REMOTE
    # mapper url and database name and column
    mapDbUrl=jdbc:oracle:thin:@{{ .Values.db.ORACLE_HOST }}:{{ .Values.db.ORACLE_PORT }}/{{ .Values.db.NMS_DB_NAME }}
    mapDbTableColumn=LX_MAP.MAP_NAME
    # pam create user linux machine (user,password)
    linux.user=root
    linux.password=Root!323
    #Deployment server port
    #server.port=8080
    #Password Encoding Algorithm
    psw.encoder=BCryptPasswordEncoder
    # jwt private key
    jwt.pk.accesstoken.nms=siaenms
    jwt.pk.refreshtoken.nms=siaenmsrefresh
    jwt.pk.accesstoken.iveritas=siaeiveritas
    jwt.pk.refreshtoken.iveritas=siaeiveritasrefresh
    # jwt token is valid time access token 1 min and refresh token for 1 day
    jwt.authentication.accesstoken.valid=600000
    jwt.authentication.refreshtoken.valid=86400000
    security.ignored=/**
    security.basic.enabled=false
    spring.main.allow-bean-definition-overriding=true
    spring.main.allow-circular-references=true
    # ssl server port
    server.port=8443
    # The format used for the keystore. It could be set to JKS in case it is a JKS file
    server.ssl.key-store-type=PKCS12
    # The path to the keystore containing the certificate
    server.ssl.key-store=classpath:authsiae.p12
    # The password used to generate the certificate
    server.ssl.key-store-password=siaeauth
    # The key-password
    server.ssl.key-password=siaeauth
    # The alias mapped to the certificate
    server.ssl.key-alias=authsiae
    #Spring Security enabled application
    server.ssl.enabled=true
    server.use-forward-headers=true
    application.name=@project.artifactId@
    build.version=@project.version@
    build.timestamp=@timestamp@
    ###
    db.useWallet=true
    wallet.ipAddress={{ .Values.db.ORACLE_HOST }}
    #kafka configration
    spring.kafka.consumer.bootstrap-servers={{ .Values.kafka.kafka_broker }}:{{ .Values.kafka.kafka_port }}
    spring.kafka.consumer.client-id={{ .Values.kafka.kafka_broker }}
    spring.kafka.consumer.group-id=authservice
    spring.kafka.consumer.auto-offset-reset=latest
    spring.kafka.consumer.enable-auto-commit=true
    spring.kafka.consumer.auto-commit-interval=1000
    spring.kafka.consumer.key-deserializer= org.apache.kafka.common.serialization.StringDeserializer
    spring.kafka.consumer.value-deserializer= org.apache.kafka.common.serialization.StringDeserializer
    spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer
    spring.kafka.producer.value-serializer=org.apache.kafka.common.serialization.StringSerializer